<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>id</key>
			<string>isEnabled</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.articon</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.articon/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disabling this option will prevent clearing of the artwork icon. The last displayed artwork will always be present.</string>
		</dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>label</key>
                        <string>Label Text</string>
                        <key>id</key>
                        <string>labelText</string>
                        <key>defaults</key>
                        <string>com.fortysixandtwo.articon</string>
                        <key>key</key>
                        <string>labelText</string>
                        <key>default</key>
                        <real>0</real>
                        <key>PostNotification</key>
                        <string>com.fortysixandtwo.articon/settingschanged</string>
                        <key>detail</key>
                        <string>PSListItemsController</string>
                        <key>validTitles</key>
                        <array>
                                <string>Default</string>
                                <string>Artist</string>
                                <string>Title</string>
                                <string>Album</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <real>0</real>
                                <real>1</real>
                                <real>2</real>
                                <real>3</real>
                        </array>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Clear Artwork</string>
			<key>id</key>
			<string>shouldClearArtwork</string>
			<key>defaults</key>
			<string>com.fortysixandtwo.articon</string>
			<key>key</key>
			<string>shouldClearArtwork</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.fortysixandtwo.articon/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Author</string>
			<key>footerText</key>
			<string>© 2014 fortysixandtwo, ltd.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@magn2o</string>
			<key>action</key>
			<string>launchTwitter:</string>
			<key>icon</key>
			<string>Twitter.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Articon</string>
</dict>
</plist>
